.tabbed-editor > .tab-header-area > .tab-header-background {
    -fx-background-color: #1B1B1B;
}

.tabbed-editor > .tab-header-area .tab {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: hsb(0, 0%, 30%);
}

.tabbed-editor > .tab-header-area .moe-tab {
    -fx-background-color: #2A2A2A;
    -fx-border-color: #C8C8C8;
}

.tabbed-editor > .tab-header-area .moe-tab .tab-label * {
    -fx-fill: #C8C8C8;
}

.tabbed-editor > .tab-header-area .bj-tab-error .tab-label * {
    -fx-fill: #D25252;
}

.tabbed-editor > .tab-header-area .moe-tab:selected {
    -fx-background-color: #2A2A2A !important;
    -fx-border-color: #2B91AF !important;
}

.tabbed-editor > .tab-header-area  {
    -fx-padding: 2 5 -1 5;
}

.tabbed-editor .tab-close-button:hover {
    -fx-background-color: #D25252;
}